html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #140880;
}

.inicio h1 {
    font-size: 50px;
}

.inicio p {
    font-size: larger;
    color: #ffffff;
}

.inicio h2 {
    font-size: 30px;
}

.contenido {
    margin: 100px;
}

.inicio {
    text-align: center;
}

.inicio p {
    text-align: justify;
}

.lista {
    color: #ffffff;
    text-align: center;
}

.lista ul {
    text-align: left;
    display: inline-block;
}

.secciones h2 {
    text-align: center;
}

img {
    vertical-align: middle;
}

.imagen a {
    color: #ffffff;
}